.hide {
  display: none;
}

.stream {
  width:  80%;
  border: solid;
  float:  left;
  margin-left: 3%;
  overflow: scroll;
  height: 500px;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
}

.users {
  width:  10%;
  border: solid;
  float:  left;
  margin-left: 3%;
  border-radius: 10px;
}

.message {
  margin-top: 2%;
  width: 80.5%;
  margin-left: 3%;
  float:  left;
  bottom: 0;
  margin-bottom: 5%;
}

.placeholder {
  width:  10%;
}

.msgtxt {
  width: 99%;
  border: solid;
  height: 30px;
  border-radius: 10px;
}

.onlineuser {
  border-bottom: solid ;
}